<table>
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Date Created</th>
    <th>Price</th>
    <th>Category</th>
    <th>Price History</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.created_at %></td>
        <td><%= product.category.name %></td>
        <td><%= product.price %></td>
        <td>
          <% if product.price_history.keys.length > 1 %>
            true
          <% else %>
            false
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>